# City of Toronto Precipitation Data 2021

Source: https://open.toronto.ca/dataset/rain-gauge-locations-and-precipitation/

In [1]:
import pandas as pd

In [2]:
rain_data = pd.read_csv("precipitation-data-2021.csv")

In [16]:
type(rain_data)

pandas.core.frame.DataFrame

In [3]:
rain_data.describe()

                 id      rainfall     longitude      latitude
count  5.210937e+06  5.204426e+06  5.210937e+06  5.210937e+06
mean   8.372380e+03  7.365671e-03 -7.940380e+01  4.372055e+01
std    1.957056e+03  1.067794e-01  1.154260e-01  5.343313e-02
min    7.674000e+03  0.000000e+00 -7.958503e+01  4.360813e+01
25%    7.686000e+03  0.000000e+00 -7.951261e+01  4.367672e+01
50%    7.699000e+03  0.000000e+00 -7.940692e+01  4.372393e+01
75%    7.712000e+03  0.000000e+00 -7.932013e+01  4.376901e+01
max    1.421300e+04  8.316600e+01 -7.914841e+01  4.381845e+01

In [4]:
rain_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5210937 entries, 0 to 5210936
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   id         int64
 1   name       object
 2   date       object
 3   rainfall   float64
 4   longitude  float64
 5   latitude   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 238.5+ MB

In [5]:
rain_data.value_counts()

id     name    date                 rainfall  longitude   latitude
7674   RG_017  2021-01-01T00:00:00  0.000     -79.466028  43.697350    1
7708   RG_042  2021-06-27T09:40:00  0.000     -79.261459  43.732970    1
               2021-06-27T10:15:00  0.000     -79.261459  43.732970    1
               2021-06-27T10:10:00  0.000     -79.261459  43.732970    1
               2021-06-27T10:05:00  0.000     -79.261459  43.732970    1
                                                                      ..
7691   RG_022  2021-07-07T05:00:00  0.003     -79.365176  43.769066    1
               2021-07-07T04:55:00  0.002     -79.365176  43.769066    1
               2021-07-07T04:50:00  0.019     -79.365176  43.769066    1
               2021-07-07T04:45:00  0.009     -79.365176  43.769066    1
14213  RG_061  2021-12-31T23:55:00  0.000     -79.216829  43.740104    1
Length: 5204426, dtype: int64

In [10]:
rain_data.head()

     id    name                 date  rainfall  longitude  latitude
0  7677  RG_001  2021-01-01T00:00:00       0.0 -79.478112  43.64768
1  7677  RG_001  2021-01-01T00:05:00       0.0 -79.478112  43.64768
2  7677  RG_001  2021-01-01T00:10:00       0.0 -79.478112  43.64768
3  7677  RG_001  2021-01-01T00:15:00       0.0 -79.478112  43.64768
4  7677  RG_001  2021-01-01T00:20:00       0.0 -79.478112  43.64768

In [11]:
rain_data.date

0          2021-01-01T00:00:00
1          2021-01-01T00:05:00
2          2021-01-01T00:10:00
3          2021-01-01T00:15:00
4          2021-01-01T00:20:00
                  ...
5210932    2021-12-31T23:35:00
5210933    2021-12-31T23:40:00
5210934    2021-12-31T23:45:00
5210935    2021-12-31T23:50:00
5210936    2021-12-31T23:55:00
Name: date, Length: 5210937, dtype: object

In [14]:
rain_data.columns

Index(['id', 'name', 'date', 'rainfall', 'longitude', 'latitude'], dtype='object')

In [19]:
rain_data['rainfall'].sum()

38334.088008521394

In [21]:
# Total amount of rainfall measured in Toronto during 2021 was 38 liters